# scala
*.class
*.log
target/*
flink-project/target/*
flink-project/project/project/*
flink-project/project/target/*
.DS_Store
flink-project/data/Sidewalk_201912.GeoJSON
.idea/*
idea.sbt
project/*
.idea/
mainRunner/*
# java
java/quickstart/target/
java/quickstart/quickstart.iml